﻿body {
}

.LabelDato {
	font-size: 13pt;
	font-family: Candara;
	width: 100%;
	text-align: center;
	font-weight: bold;
}

.TextBoxMedidas {
	/*width: 75%;*/
	width: 50%;
	font-family: Candara;
	font-size: 12pt;
	border-radius: 5px;
	margin-left: 0px;
	text-align: center;
}

.MultiLineForm {
	width: 88%;
	height: 50px;
	font-family: Candara;
	font-size: 12pt;
	border-radius: 5px;
	margin-left: 0px;
	text-align: center;
}

.ListasCortas {
	width: 52%;
	height: 23px;
	font-family: Candara;
	font-size: 12pt;
	border-radius: 5px;
	text-align: center;
}

.TablaContenidoForm {
	padding: 0px 40px 10px 40px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

	.TablaContenidoForm tr td {
		padding: 3px;
		/*width: auto;
		height: auto;*/
	}

	.TablaContenidoForm label {
		text-align: right;
		font-size: 13pt;
		font-family: Candara;
	}

	.TablaContenidoForm input {
		width: 75%;
		height: 95%;
		font-family: Candara;
		font-size: 13pt;
		text-align: center;
		margin-right: 40px;
	}

	.TablaContenidoForm select {
		width: 77%;
		height: 100%;
		font-family: Candara;
		font-size: 13pt;
		text-align: center;
		margin-right: 40px;
	}

.TablaConsultas {
	padding: 0px 0px 0px 20px;
	width: 98%;
}

	.TablaConsultas tr td {
		width: 24%;
		float: left;
		/*width: auto;*/
	}

.Separador {
	padding: 0px 0px 0px 0px;
	width: 85%;
	border-color: rgb(115, 61, 26);
	border-style: solid;
}

.BotonIniciar {
	font-family: Candara;
	font-size: 14pt;
	float: initial;
	margin-left: 150px;
}

.Botones {
	font-family: Candara;
	font-size: 12pt;
	float: initial;
}

.PanelBotones {
	margin-top: 15px;
}

	.PanelBotones a, button {
		font-family: Candara;
		font-size: 14pt;
		text-decoration: none;
		color: rgb(92, 51, 23);
		font-weight: bold;
		background-color: white;
		border-radius: 4px;
		padding: 0px 5px 0px 5px;
		border-color: rgb(92, 51, 23);
		border-style: solid;
		border-width: 1px;
		margin-right: 10px;
	}

.ImgAcercaDe {
	width: 80px;
	height: 80px;
	margin-right: 20px;
}

.CheckBox {
	margin-left: 20px;
}

.ChPermisos {
	font-family: Candara;
}

.Chart {
	width: auto;
	margin-left: 5px;
	margin-right: 5px;
}

.Pestañas {
	margin-left: 5px;
	margin-top: 5px;
	width: auto;
	position: relative;
	font-family: Candara;
	border-radius: 5px;
	font-size: 13pt;
	background-color: white;
}


	.Pestañas Img {
		width: 30px;
		height: 30px;
		margin-right: 10px;
	}

	.Pestañas a {
		color: rgb(92, 51, 23);
		font-weight:bold;
		/*padding: 0px 10/*px 4px;
        border: 0px solid #648ABD;
        border-bottom: 0;*/
		/*margin-left: 3px;
		margin-right: 3px;*/
		border-color: rgba(92, 51, 23,0);
		border-style: solid;
		border-width: 0px 0px 2px 0px;
		height: 20px;
	}

		.Pestañas a:hover {
			background-image: none;
			/*background-color: #7B3F00;*/
			/*margin-left: 25px;*/
			/*color: white;*/
			width: auto;
			border-color: rgb(92, 51, 23);
			
		}


.PanelGrilla {
	width: 98%;
	height: auto;
	margin: auto;
	margin-top: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/*----------------------------------*/
.mGrid {
	position: relative;
	width: 95%;
	background-color: #fff;
	margin: auto;
	-moz-border: solid 1px #525252;
	-moz-border-collapse: collapse;
	text-align: center;
}

	.mGrid td {
		padding: 2px;
		border: solid 1px #c1c1c1;
		color: black;
		font-size: 12pt;
		font-family: Candara;
	}

	.mGrid th {
		padding: 4px 2px;
		color: white;
		background: #539DC2;
		border-left: solid 1px #525252;
		font-size: 12pt;
		font-family: Candara;
	}

.Resultado {
}

.Validaciones {
	color:red;
	text-align:left;
}
