﻿body {
	/*background-image:url(../Images/Fondos/fondo1.jpg);*/
	background-color: rgb(255, 255, 170);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-family: "Open Sans", arial, sans-serif;
	font-weight: 300;
}

.Logo {
	max-width: 100%;
	max-height: 100%;
}

.PanelContenido {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 800px;
	/*margin-top:7%;*/
	border-radius: 0px;
	background-color: rgb(255, 255, 170);
	border-color: white;
	border-style: solid;
	border-width: 0px 12px 0px 12px;
	position: relative;
}

.PanelImagen {
	width: 100%;
	height: 60%;
	background-color: rgba(205, 179, 139,0);
	text-align: center;
	margin-right: 0px;
	margin-left: auto;
	margin-top: 5%;
	position: absolute;
	border-color: white;
	border-style: solid;
	border-width: 0px 0px 30px 0px;
	box-shadow: rgba(128, 128, 128,0) 15px 15px inherit;
}

.Imagen {
	width: 100%;
	height: 100%;
}

.PanelNavegacion {
	width: 100%;
	height: 60px;
	border-radius: 0px;
	background-color: white;
	position: absolute;
}

.TablaNavegacion {
	margin-top: 1%;
}

	.TablaNavegacion a {
		font-family: Candara;
		font-size: 16pt;
		text-decoration: none;
		color: rgb(92, 51, 23);
		font-weight: bold;
		background-color: white;
		border-radius: 10px;
		padding: 0px 5px 0px 5px;
	}

		.TablaNavegacion a:hover {
			color: white;
			font-family: Candara;
			font-size: 16pt;
			text-decoration: none;
			font-weight: bold;
			background-color: rgb(92, 51, 23);
			-webkit-transition: background-color 1s ease-in-out 0s;
		}

.PanelLogo {
	width: auto;
	height: auto;
	background-color: white;
	text-align: center;
	margin-right: auto;
	margin-left: 5%;
	/*margin-top:-6.5%;*/
	position: fixed;
}

.TablaLogo {
	text-align: left;
}

#Titulo {
	font-family: 'Buxton Sketch';
	font-size: 40pt;
	margin-left: 10px;
	margin-right: 5px;
	color: rgb(92, 51, 23);
	text-shadow: 2px 2px 2px #333;
	text-shadow: 0px 2px 3px #555;
	-webkit-text-fill-color: white;
	-webkit-text-stroke: 2.5px #7B3F00;
}

#Subtitulo {
	font-family: Candara;
	font-size: 13pt;
	margin-left: 10px;
	color: rgb(92, 51, 23);
}

.PanelSesion {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding: 0px 0px 10px 0px;
	background-color: rgba(255, 255, 255,0.6);
	border-radius: 5px;
}

.TablaSesion {
	width: 90%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(255, 255, 170);
	border-radius: 5px;
	font-family: Candara;
	border-color: #7B3F00;
	border-style: solid;
	border-width: 5px 0px 5px 0px;
	padding: 0px 0px 10px 0px;
}

	.TablaSesion label {
		width: 60%;
		margin-left: 10px;
		font-size: 13pt;
		font-family: Candara;
		text-align: right;
	}

	.TablaSesion input {
		width: 85%;
		height: 20px;
		/*border-radius:4px;*/
		font-family: Candara;
		font-size: 13pt;
		text-align: center;
		margin-left: 5px;
		margin-top:5px;
		/*border-color: rgb(92, 51, 23);
		border-style: solid;
		border-width: 1px;*/
	}

	.TablaSesion a {
		font-family: Candara;
		font-size: 13pt;
		text-decoration: none;
		color: rgb(92, 51, 23);
		font-weight: bold;
		background-color: white;
		border-radius: 4px;
		padding: 0px 5px 0px 5px;
		border-color: rgb(92, 51, 23);
		border-style: solid;
		border-width: 1px;
		margin-right: 10px;
	}

.CheckBox {
	margin-left: 10px;
}
