﻿body {
	background-color: rgb(255, 255, 170);
	/*background-color:white;*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-family: "Open Sans", arial, sans-serif;
	font-weight: 300;
}

.Logo {
	margin-top: 20px;
	max-width: 75%;
	max-height: 75%;
}

.PanelContenido {
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	height: auto;
	/*margin-top:7%;*/
	border-radius: 0px;
	background-color: rgb(245, 222, 179);
	border-color: white;
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	position: relative;
}

.PanelLogoR {
	width: 20%;
	height: auto;
	background-color: white;
	text-align: center;
	margin-right: auto;
	padding:0px 0px 20px 0px;
	/*margin-top:-6.5%;*/
	position: fixed;
	border-color: brown;
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	display:block;
}

#TablaLogo {
	width: 100%;
}

#Titulo {
	font-family: 'Buxton Sketch';
	font-size: 50pt;
	margin-left: 10px;
	margin-right: 5px;
	text-shadow: 0px 2px 3px #555;
	-webkit-text-fill-color: white;
	-webkit-text-stroke: 2px #7B3F00;
}

#Subtitulo {
	font-family: Candara;
	font-size: 13pt;
	margin-left: 10px;
	color: rgb(92, 51, 23);
}

.PanelNombre {
	width: 100%;
	height: 60px;
	border-radius: 0px;
	position: absolute;
	margin-top: 1%;
}

.PanelNavegacion {
	width: 100%;
	height: 50px;
	border-radius: 0px;
	background-color: white;
	margin-top: 8%;
	position: absolute;
	border-color: brown;
	border-style: solid;
	border-width: 1px 0px 1px 0px;
}

.TablaNavegacion {
	margin-top: 1%;
}

	.TablaNavegacion a {
		font-family: Candara;
		font-size: 16pt;
		text-decoration: none;
		color: rgb(92, 51, 23);
		font-weight: bold;
		background-color: white;
		border-radius: 10px;
		padding: 0px 5px 0px 5px;
	}

		.TablaNavegacion a:hover {
			color: white;
			background-color: rgb(92, 51, 23);
			-webkit-transition: background-color 1s ease-in-out 0s;
		}

.Nombre {
	font-family: Candara;
	font-size: 35pt;
	color: rgb(0, 63, 135);
	text-shadow: rgb(159, 182, 205) 3px 3px 3px;
}

.PanelTitulo {
	margin-left: 0%;
	margin-right: 100%;
	width: 40%;
	margin-top: 0px;
	height: 100px;
	border-radius: 5px;
}

.TablaTitulo {
	width: 93%;
	height: 70%;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	font-family: Candara;
	text-align: center;
}

.PanelMenu {
	height: auto;
	width: auto;
	margin-right: auto;
	margin-left: 10%;
	background-color: rgb(245, 222, 179);
	/*position: absolute;*/
}


.Contenido {
	margin-top: 150px;
	height: auto;
	width: 75.5%;
	margin-right: 0px;
	margin-left: 24.5%;
	background-color: white;
	border-radius: 5px;
	position: absolute;
	padding: 0px 0px 20px 0px;
	border-color: #7B3F00;
	border-style: solid;
	border-width: 1px 0px 1px 0px;
}

.Menu {
	margin: 10px;
	margin-top: 15px;
	/*float: left;*/
	width:80%;
	max-width: 100%;
	position: relative;
	font-family: Candara;
	font-size: 1.3em;
	color: black;
}

	.Menu td {
		height: auto;
		max-width:60%;
	}

	.Menu Img {
		width: 20%;
		height: 20%;
		margin-right: 25px;
	}

	.Menu a {
		color: black;
		padding: 4px 2px 4px;
		text-decoration:none;
		max-width:100%;
		
		border-color: brown;
		border-style: solid;
		border-width: 0px 0px 0.8px 0px;
		margin-left: 10%;
	}

		.Menu a:hover {
			color: rgb(213, 183, 122);
			/*margin-left: 25px;*/
			border-width: 0px 0px 2px 0px;
			-webkit-transition: color 0.3s ease-in-out 0s;
			-webkit-transition: border-width 0.3s ease-in-out 0s;
			width: 88%;
			/*text-shadow: 2px 2px 3px #D5B77A;*/
		}

.Linea {
	width: 67%;
	border-color: rgb(115, 61, 26);
	border-style: solid;
}
