﻿@model Restaurante.Models.Clases.Persona

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Hola</title>
</head>
<body>

	<div>
		<select id="Select1">
			<option>A</option>

		</select>
		<table style="width: 100%;">
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
		</table>
		<form action="../Formularios/Guardar" method="POST">
			Apellido: @Html.TextBox("txtApellido")
			Nombre: @Html.TextBox("txtNombre")
			<input type="submit" value="Guardar" />
		</form>
	</div>

</body>
</html>
